@model IEnumerable<AvaliaSim.Repository.Avaliacao>
@{
    /**/

    ViewBag.Title = "Lista de Avaliações";
}
<h2>Lista de Avaliações</h2>


@foreach (var item in Model)
{
    if (item.tipo == "Serviço")
    {
            <!-- Servico -->
        <ul class="list-group">
            <li class="list-group-item">
                <p><strong>@Html.DisplayFor(modelItem => item.nome)</strong></p>
                <p>@Html.DisplayFor(modelItem => item.cidade) - @Html.DisplayFor(modelItem => item.estado)</p>
            </li>
            <li class="list-group-item justify-content-between">
                Atendimento
                <span class="badge badge-default badge-pill">@Html.DisplayFor(modelItem => item.servAtendimento)</span>
            </li>
            <li class="list-group-item justify-content-between">
                Agilidade
                <span class="badge badge-default badge-pill">@Html.DisplayFor(modelItem => item.servAgilidade)</span>
            </li>
            <li class="list-group-item justify-content-between">
                Satisfação
                <span class="badge badge-default badge-pill">@Html.DisplayFor(modelItem => item.servsatisfacao)</span>
            </li>
            <li class="list-group-item justify-content-between">
                Total Avaliações
                <span class="badge badge-default badge-pill">@Html.DisplayFor(modelItem => item.totalAvaliacoes)</span>
            </li>

            <td>
                @Html.ActionLink("Avaliar", "Redirect", new { id = item.Id })
            </td>
        </ul>
    }
    if (item.tipo == "Produto")
    {
            <!-- Produto -->
        <ul class="list-group">
            <li class="list-group-item">
                <p><strong>@Html.DisplayFor(modelItem => item.nome)</strong></p>
                <p>@Html.DisplayFor(modelItem => item.cidade) - @Html.DisplayFor(modelItem => item.estado)</p>
            </li>
            <li class="list-group-item justify-content-between">
                Qualidade
                <span class="badge badge-default badge-pill">@Html.DisplayFor(modelItem => item.prodQualidade)</span>
            </li>
            <li class="list-group-item justify-content-between">
                Custo Beneficio
                <span class="badge badge-default badge-pill">@Html.DisplayFor(modelItem => item.prodCusto_beneficio)</span>
            </li>
            <li class="list-group-item justify-content-between">
                Satisfação
                <span class="badge badge-default badge-pill">@Html.DisplayFor(modelItem => item.prodSatisfacao)</span>
            </li>
            <li class="list-group-item justify-content-between">
                Total Avaliações
                <span class="badge badge-default badge-pill">@Html.DisplayFor(modelItem => item.totalAvaliacoes)</span>
            </li>

            <td>
                @Html.ActionLink("Avaliar", "Redirect", new { id = item.Id })
            </td>
        </ul>
    }

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
}